# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
*.cmake
# ^ May need to add future .cmake files as exceptions

# Test logs
Testing/*

# Test input
test/gtc/*.dds

# Project Files
Makefile
*.cbp
*.user

# Documentation
*.cpt
*.aux
*.toc
*.fls
*.fdb_latexmk
*.pyg
*.pdf
doc/doc/*
doc/_minted*
# ^ All files are copied to a directory when compiling the manual; don't wanna commit these!

# Misc.
*.log
